* {
    box-sizing: border-box;
}

:root {
    --accent-color: #D63230;
    --accent-color-light: #EBC6C6;
    --bg-color-light: #FFFFFF;
    --bg-color: #F1F2EE;
    --bg-color-darker: #E5E6E2;
    --bg-color-dark: #DEDEDD;
    --bg-color-darkest: #D8D9D5;
    --neutral-color-light: #707070;
    --neutral-color-dark: #5A5A5A;
    --primary-color: #435058;
    --primary-color-lighter: #4D5B65;
    --primary-color-lightest: #BCD0D5;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-color);
    height: 100%;
    font-size: 16px;
}

#title-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(var(--bg-color-dark), var(--bg-color-darkest));
    height: 100%;
}

@keyframes fly-in-primary-title {
    0%,
    15% {
        min-width: 70%;
    }
}

#title-page-print {
    display: none;
}

#title-page h1 {
    background-color: var(--accent-color);
    min-width: 80%;
    align-self: flex-start;
    animation-name: fly-in-primary-title;
    animation-duration: 3s;
    font-size: 12vh;
    color: var(--bg-color);
    padding: 0.2em 0.3em;
    text-align: right;
}

#title-page-print h1 {
    font-size: 6vh;
    font-weight: 600;
    color: var(--primary-color);
    padding: 0.2em 0.3em;
    text-align: right;
    border-style: solid;
    border-width: 0 0 0 0.15em;
    border-color: var(--accent-color);
}

@keyframes fly-in-secondary-title {
    0%,
    15% {
        min-width: 65%;
    }
}

#title-page h2 {
    background-color: var(--neutral-color-dark);
    min-width: 45%;
    align-self: flex-end;
    margin-top: 3vh;
    animation-name: fly-in-secondary-title;
    animation-duration: 3s;
    color: var(--bg-color);
    font-size: 5vh;
    padding: 0.2em 0.4em;
}

#title-page h3 {
    margin-top: 6vh;
    background-color: var(--neutral-color-dark);
    width: 79%;
    color: var(--bg-color);
    font-size: 3vh;
    padding: 0.4em 0.5em;
    text-align: right;
    line-height: 1.3em;
}

#link-bar {
    margin: 3vh 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 79%;
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    #link-bar {
        justify-content: center;
        width: 100%;
    }
}

.link-button {
    color: var(--primary-color);
    font-size: 1.2em;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    border-color: var(--neutral-color-light);
    border-style: solid;
    border-width: 0.6vh;
    border-radius: 2vh;
    width: 10vh;
    height: 10vh;
    margin-left: min(5vh, 2%);
    transition: background-color 300ms, border-color 300ms;
}

.link-button:hover {
    background-color: var(--bg-color-light);
    border-color: var(--primary-color);
}

.link-button-icon {
    height: 80%;
    width: 80%;
}

.scroll-page-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    height: 6vh;
    transition: background-color 300ms;
}

.scroll-page-button:hover {
    background-color: var(--primary-color-lighter);
}

.scroll-page-button-icon {
    flex: 1;
    background-image: url('../assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 35%
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    max-width: 1024px;
    min-width: 50%;
    width: 100%;
}

#description {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--bg-color-darkest);
}

#profile-picture {
    position: relative;
    width: 210px;
    margin: 0 2vh 2vh 2vh;
    border-style: solid;
    border-width: 10px;
    border-radius: 18px;
    border-color: var(--bg-color-darker);
    bottom: -2em;
}

#description-text {
    color: var(--neutral-color-dark);
    line-height: 1.5em;
    font-size: 1.1em;
    background-color: var(--bg-color);
    text-align: justify;
    margin: 2vh 0;
    padding: 1em 2em;
}

@media screen and (max-width: 767px) {
    #description {
        flex-direction: column-reverse;
    }
    #description-text {
        margin-bottom: 0;
        padding-top: 3em;
        padding-bottom: 3em;
    }
}

#facts {
    padding: 1em 1.5em;
    margin-bottom: 0.8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--primary-color);
}

.fact-entry {
    margin: 1em 1.5em;
}

.fact-header {
    color: var(--primary-color-lightest);
    margin-bottom: 1em;
}

.fact-content {
    color: var(--bg-color-light);
    font-size: 1.3em;
}

@media screen and (max-width: 767px) {
    .fact-header {
        text-align: center;
    }
    .fact-content {
        text-align: center;
    }
}

#detailed-info article {
    display: flex;
    flex-direction: column;
}

#detailed-info header {
    background-color: var(--bg-color-darker);
    padding: 0.5em 0.5em 0.5em 0.8em;
    width: 95%;
}

#detailed-info header h1 {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.5em;
    padding: 0.4em 0.5em;
    border-style: solid;
    border-width: 0 0 0 0.15em;
    border-color: var(--accent-color);
}

.even-header h1 {
    margin-left: 5%;
}

.odd-header {
    align-self: flex-end;
}

.article-content {
    display: flex;
    flex-direction: column;
    margin: 0.8em 3em;
}

@media screen and (max-width: 425px) {
    .article-content {
        margin: 0.8em 2em;
    }
}

.article-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin: 0.8em 0;
    row-gap: 0.8em;
}

.article-left {
    margin-left: auto;
    color: var(--neutral-color-light);
}

.article-right {
    width: 70%;
    margin-left: 5%;
}

.article-content ul {
    color: var(--neutral-color-dark);
    line-height: 1.5em;
}

.article-content li {
    margin-bottom: 1.1em;
    font-size: 1.2em;
}

.achievement-list li {
    margin-bottom: 0.7em;
    font-size: 1.1em;
    list-style-type: square;
}

.article-content img {
    height: 3.3em;
    border-style: solid;
    border-color: var(--bg-color-darkest);
    border-width: 0.15em;
    transition: border-color 300ms;
}

.article-content img:hover {
    border-color: var(--neutral-color-light);
}

.article-content h2 {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.3em;
}

.article-content h3 {
    color: var(--primary-color);
    font-size: 1.3em;
    margin-bottom: 0.7em;
}

.article-content h4 {
    color: var(--primary-color);
    font-size: 1.1em;
}

@media screen and (max-width: 767px) {
    .header-row {
        flex-direction: column-reverse;
    }
    .secondary-header-row {
        flex-direction: row-reverse;
    }
    .content-row .article-right {
        width: auto;
    }
    .header-row .article-left {
        margin-left: 0;
    }
    .content-row {
        flex-direction: column;
    }
    .content-row .article-left {
        margin-left: 0;
    }
    .article-right {
        margin-left: 0;
    }
}

.skill-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-list li {
    width: 30%;
    font-size: 1.2em;
    color: var(--primary-color);
}

.skill-list::after {
    content: '';
    width: 30%;
}

@media screen and (max-width: 550px) {
    .skill-list li {
        width: 50%;
    }
    .skill-list::after {
        width: 50%;
    }
}

.skill-level-bar {
    display: flex;
    flex-direction: row;
    width: 5em;
    height: 0.3em;
    gap: 5px;
    margin-top: 0.3em;
}

.skill-level {
    background-color: var(--accent-color-light);
    height: 100%;
    width: 100%;
}

.skill-level-active {
    background-color: var(--accent-color);
    height: 100%;
    width: 100%;
    -webkit-print-color-adjust: exact;
}

.tooltip {
    position: relative;
}

.tooltip .tooltip-text {
    position: absolute;
    transition: opacity 0.3s, visibility 0.1s;
    top: 130%;
    opacity: 0;
    font-size: 0.9em;
    background-color: var(--bg-color-darker);
    padding: 0.4em 0.5em;
    border: 0.15em solid var(--primary-color);
    text-align: justify;
    z-index: 1;
}

.link-button .tooltip-text {
    top: 115%;
}

.tooltip:hover .tooltip-text,
.tooltip:active .tooltip-text {
    opacity: 1;
    visibility: visible;
}

.tooltip-text,
.tooltip .tooltip-text:hover,
.tooltip .tooltip-text:active {
    opacity: 0;
    visibility: hidden;
}

.tooltip-icon {
    display: inline-block;
    position: absolute;
    background-image: url('../assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 0.7em;
    width: 0.7em;
    margin: 0.3em;
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.tooltip:hover .tooltip-icon,
.tooltip:active .tooltip-icon {
    transform: rotate(0deg);
}

.column-list {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
}

footer .scroll-page-button-icon {
    transform: rotate(180deg);
}

@media print {
    #title-page {
        display: none;
    }
    #title-page-print {
        display: flex;
    }
    #fact-entry-name {
        display: none;
    }
    .fact-content {
        color: var(--primary-color);
        font-weight: 600;
    }
    body {
        zoom: 70%;
    }
    section {
        margin: 0;
        float: none;
    }
    .article-content img {
        border-width: 0;
    }
    @page {
        margin: 2cm;
    }
}