body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#cover {
    background: linear-gradient(#DEDEDD, #D8D9D5);
    flex: 1;
}

#mainTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 38vh;
}

#mainTitleBar {
    background-color: #D63230;
    width: 90%;
}

#mainTitleBar h1 {
    font-size: 12vh;
    color: #F1F2EE;
    margin: 0.2em 0.3em;
    text-align: right;
}

#secondaryTitleContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 3vh;
}

#secondaryTitleBar {
    background-color: #5A5A5A;
    width: 34%;
}

#secondaryTitleBar h2 {
    color: #F1F2EE;
    font-size: 5vh;
    margin: 0.2em 0.3em;
}

#tagsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6vh;
}

#tagsBar {
    background-color: #5A5A5A;
    width: 89%;
    height: 100%; 
}

#tagsBar p {
    color: #F1F2EE;
    font-size: 3vh;
    margin: 0.4em 0.5em;
    text-align: right;
}

#contactLinksContainer {
    margin-top: 3vh;
}

#contactLinksBar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 89%;
    height: 100%;
}

.contactLink {
    background-color: #FFFFFF;
    border-color: #707070;
    border-style: solid;
    border-width: 0.6vh;
    border-radius: 2vh;
    width: 9vh;
    height: 9vh;
    margin-left: 5vh;
}

.goToContentButton {
    background-color: #435058;
    height: 50px;
}

footer {
    display: flex;
    flex-direction: column;
}



